<?xml version='1.0' encoding='utf-8'?>
<!--
  ~ Hibernate, Relational Persistence for Idiomatic Java
  ~
  ~ License: GNU Lesser General Public License (LGPL), version 2.1 or later.
  ~ See the lgpl.txt file in the root directory or <http://www.gnu.org/licenses/lgpl-2.1.html>.
  -->
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- Database connection settings -->
        <property name="connection.driver_class"> org.mariadb.jdbc.Driver</property>
<!--        <property name="connection.url">jdbc:mariadb://127.0.0.1:3306/mobile</property>-->
        <property name="connection.url">jdbc:mariadb://192.168.1.2:3306/mobile</property>
<!--        <property name="connection.url">jdbc:mariadb://anhnqpi.ddns.net:3306/mobile</property>-->
        <property name="connection.username">anhnq</property>
        <property name="connection.password">1</property>

        <!-- SQL dialect -->
<!--        <property name="dialect">org.hibernate.dialect.H2Dialect</property>-->

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>

        <!-- Names the annotated entity class -->
        <mapping class="anhnq.Model.User_Model"/>
        <mapping class="anhnq.Model.Notes_Model"/>

    </session-factory>

</hibernate-configuration>